.footer {
	text-align: center;
	padding: 1em;
	font-size: 0.9em;
	color: #666;
	border-top: solid 1px #ccc;
	margin-top: 2em;
}

/* Home Page */
.home-page {
	display: flex;
}

.home-page main {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.home-card {
	padding: 2em;
	background-color: #1c1d1d;
	border: solid 1px #ccc;
	border-radius: 10px;
	margin-bottom: 1em;
}

.home-answer {
	margin-top: 1em;
	padding-top: 1em;
	border-top: solid 1px #fff;
}

.home-page aside {
	width: 300px;
}

.home-page aside h2 {
	font-size: 1em;
	text-align: center;
}

.home-page aside ul {
	max-height: 300px;
	overflow: auto;
}

.home-page aside ul li {
	list-style: none;
	border: 1px solid #ccc;
	padding: 0.5em;
	margin: 0.5em 0;
	border-radius: 10px;
}

.home-page aside ul li.correct {
	background-color: #2e4d2e;
}

.home-page aside ul li.incorrect {
	background-color: #4d2e2e;
}

@media (prefers-color-scheme: light) {
	.home-card {
		background-color: #e6e6e6;
		border-color: #313131;
	}

	.home-answer {
		border-top-color: #000;
	}
}

/* Questions Page */
.questions-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.question-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.question-card {
	display: flex;
	align-items: center;
	padding: 1em;
	background-color: #1c1d1d;
	border: solid 1px #ccc;
	border-radius: 10px;
	margin-bottom: 1em;
}

.question-number {
	margin-left: 0.5em;
	margin-right: 1em;
	font-size: 20px;
	font-weight: bolder;
}

.question-content div {
	display: flex;
}

.question-content div:first-child {
	margin-bottom: 0.5em;
}

.question-content div strong {
	margin-right: 5px;
}

@media (prefers-color-scheme: light) {
	.question-card {
		background-color: #e6e6e6;
		border-color: #313131;
	}
}